.vscode/**
.vscode-test/**
.gitignore
src/**
out/**
node_modules/**
_bak/**
_docs/**
_extras/**
AGENTS.md
*.code-workspace
debug.log
dist/**/*.map
esbuild.js
.vscode-test.js
extension.code-workspace
package-lock.json
tsconfig*.json
